[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
marshmallow = "*"
pymongo = "*"
flask-cors = "*"
flask = "*"
flask-wtf = "*"
flask-login = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.7"
