<html>
    <head>
      
        {% if title %}
        <title>{{ title }} - Simple Posts</title>
        {% else %}
        <title>Welcome to Simple Posts!</title>
        {% endif %}
    </head>
    <body>
        <div>Simple Posts: 
            <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            <a href="{{ url_for('create_post') }}">Create Post</a>
            <a href="{{ url_for('create_template') }}">Create Template</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>